body {
    background: black;
    color: white;
}

a:link, a:visited {
    background-color: #f44335;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 19px;
}

a:hover, a:active {
    background-color: red;
}

h1, div {
    text-align: center;
}